<!DOCTYPE html>
<html>
  <head>
    <title>Users - MovieWeb App</title>
    <link rel="stylesheet" href={{url_for('static',filename='styles.css')}}>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          href="{{ url_for('home') }}  "
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('show_movies') }}">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about_us') }}">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('get_users') }}">Users</a>
      </li>
    </ul>
    <div class="inner-box-container">
      <div class="d-flex align-items-center justify-content-center">
        <h1>Users</h1>
      </div>

      <div class="row">
        {% for user in users %}
        <div class="col-md-4">
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <a href="{{ url_for('user_movies', user_id=user['id']) }}"
                ><h5 class="card-title text-center">{{ user.name }}</h5></a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <a href="{{url_for('add_user')}}"
        ><div class="row add-user-button">
          <div class="col-md-4">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title text-center">ADD USER</h5>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </body>
</html>
